.container.content{
    padding-top: 56px;
}

#content, #message{
    float: right;
}

#dashboard {
	height:100%;
	color:white;
	background-color:black;
	float: left;
}

#dashboard a {
	color:white;
}

#dashboard ul .selected {list-style:none;}
#dashboard ul li:first-child {margin-top:10px; list-style:none;}

#dashboard ul .selected:before {
  content: "\f0da"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color:white;
}

.modal {display:none;}
.d-inline-block.float-right {
	position:relative;
	right:0;
}

.btn-link {
	margin-top:-6px;
}

.btn-edit {
    margin-right: 12px;
}

.btn-create {
    margin-bottom: 12px;
}

.btn-delete {margin-left:10px;}
#btn_save {float:left;margin-left:5px;}

.alert {color:red;}

.change-remark {
	cursor:pointer;
	color: #007bff;
}

.btn-create_issue{
    right: 0px;
    position: absolute;
    top: 30px;
}
.form-group label {display:block;clear:both;width:100%;}
.select-small {float:left;width:32%;margin-right:10px;}
.panel-collapse hr {margin-top:0;}
#progress {float:left;}
.fileinput {float:left;margin-left:5px;padding:5px;background:#1027AD;border:1px solid #1027AD;position:relative;font-size:.8em;color:#fff;border-radius:2px;text-align:center;max-width:85px;cursor:pointer;}
.hide_file {position:absolute;z-index:1000;opacity:0;cursor:pointer;right:1px;top:0;height:20px;width:55px;}
.download {
    display: table-cell;
    vertical-align: bottom;
}
.stop-timer {display:none;}



td.col-md-12 {
  padding-bottom: 0;
  padding-top: 0;
}

.table .table {
  margin-bottom: 0;
  margin-top: 0;
  border: none;
}

.pagination {
    display: none;
}

.dataTables_length {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_filter {
    display: none;
}

.no-sort::after, .no-sort::before {
    display: none!important;
}

.no-sort {
    pointer-events: none!important;
    cursor: default!important;
}
