.container.content{
    padding-top: 56px;
}

#content, #message{
    float: right;
}

#dashboard {
	height:100%;
	color:white;
	background-color:black;
	float: left;
}

#dashboard a {
	color:white;
}

#dashboard ul .selected {list-style:none;}
#dashboard ul li:first-child {margin-top:10px;}

#dashboard ul .selected:before {
  content: "\f0da"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color:white;
}

.d-inline-block.float-right {
	position:absolute;
	right:0;
}

.btn-link {
	margin-top:-6px;
}

.btn-edit {
    margin-right: 12px;
}

.btn-create {
    margin-bottom: 12px;
}

.alert {color:red;}

.btn-create_issue{
    right: 0px;
    position: absolute;
    top: 30px;
}
